<header>
    <nav>
      <ul>
        <% if (typeof user == 'undefined' ) { %>
          <li><a href="/users/register">Register</a></li>
        <% } %>
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/users/logout">Cerrar sessión</a></li>
      </ul>
    </nav>
  </header>